* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  width: 100%;
}

.account-container {
  flex-direction: row;
  width: 100%;
  display: flex;
  height: 100%;
}

.account-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
}

.account-main-menu {
  min-width: 190px;
  width: 190px;
  min-height: 100vh;
}

.account-viewbox {
  min-width: 400px;
  min-height: 100vh;
  width: 100%;
}

#profileForm {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 860px) {
  .account-container {
    flex-direction: column;
  }

  .account-menu {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  .account-main-menu {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
  }
  .account-viewbox {
    width: 100%;
    min-width: 100%;
  }
}

.posts-grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.main-sidebar-block {
  width: 20rem;
}

.main-sidebar-hover,
.secondary-sidebar-hover {
  position: absolute;
  min-height: 100vh;
  box-shadow: 3px 3px 8px #000;
  background-color: #181717;
  top: 0;
  z-index: 3;
}

.secondary-sidebar-block {
  width: 12rem;
}

.main-sidebar-hover {
  left: -100px;
  width: 12rem;
  animation: slideleft 0.5s forwards;
}
.secondary-sidebar-hover {
  right: -100px;
  animation: slideright 0.5s forwards;
}

.search-input,
.search-dropdown {
  width: 70%;
}

@keyframes slideleft {
  100% {
    left: 0;
  }
}

@keyframes slideright {
  100% {
    right: 0;
  }
}

@media (min-width: 1500px) {
  .search-input,
  search-dropdown {
    width: 90%;
  }
}

@media (max-width: 1450px) {
  .posts-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.history-posts {
  width: 100%;
  margin: 0 auto;
  min-width: 600px;
  max-width: 600px;
}

@media (max-width: 1120px) {
  .history-posts {
    width: 500px;
    min-width: 500px;
  }
}

.search-dropdown::-webkit-scrollbar {
  width: 0;
  background: 'transparent';
}

.search-dropdown::-webkit-scrollbar-track {
  width: 0;
  background: 'transparent';
}
.search-dropdown::-webkit-scrollbar-thumb {
  background: 'transparent';
  border-radius: 24px;
}

@media (max-width: 1180px) {
  .history-posts {
    min-width: 600px;
    width: 600px;
  }
  .history-sidebar {
    display: none;
  }
  .main-sidebar-block {
    display: none;
  }
  .secondary-sidebar-block {
    display: none;
  }
}

@media (max-width: 768px) {
  .history-posts {
    width: 100%;
    min-width: 100%;
  }
  .history-sidebar {
    display: none;
  }
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

.profile-field-container {
  border-radius: 20px;
  margin: 1.5rem 0.5rem 0 0.5rem;
  color: '#FFF';
  padding: 0.2rem;
  padding-right: 1rem;
  background-color: #1f1f21;
  width: 100%;
  min-width: 200px;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
